In [7]:
#imports
import geopandas as gpd
import matplotlib as plt
import pandas as pd
import matplotlib.pyplot as pyplot


pd.options.display.max_colwidth = 100

In [27]:
# Loading the forecasts data set
data = pd.read_csv('data/HUMAN_public_social_media.csv')

In [4]:
data.head()

,Unnamed: 0,locations,source_reliability,media,confidence,text,text_translated,_timestamp,num_persons,mode,origin,destination,geom_tweet,triage_status,source,uniqueid
0,0,"['ankara', 'baghdad']",0.000,NaN,0.581,الخطوط تنقل 275 مهاجراً من أنقرة إلى بغداد htt...,the lines carry 275 migrants from ankara to ba...,2019-12-11 16:31:09,275.0,NaN,TR510,NaN,01010000003BDF4F8D976E40409CC420B072F84340,NaN,twitter,0
1,1,[],0.169,['http://pbs.twimg.com/media/CUSHB2mUAAEg0_w.j...,0.566,RT @KAR_SH_313: تم الرفس\r\nصيد اليوم من حدود ...,kar sh 313 has been launched todays hunt from ...,2019-12-13 20:49:57,313.0,NaN,NaN,NaN,NaN,NaN,twitter,1
2,2,['greece'],0.233,NaN,0.898,السلطات التركية توقف 1300 مهاجر قبل إبحارهم إل...,turkish authorities stop 1300 migrants before ...,2019-12-23 21:31:23,1300.0,NaN,NaN,EL,010100000000000000000036400000000000804340,NaN,twitter,2
3,3,"['libya', 'italia']",0.833,NaN,0.677,البحرية الإيطالية: أكثر من 1500 مهاجر تم إنقاذ...,italian navy more than 1500 migrants rescued o...,2019-12-26 19:33:11,1500.0,NaN,NaN,NaN,01010000009031772D215F2A40C139234A7B734040,NaN,twitter,3
4,4,"['greece', 'turkey']",0.115,['http://pbs.twimg.com/media/CVYfgd9XAAE5JuX.j...,0.863,RT @20fourMedia: #تركيا توقف لاجئين أثناء توجه...,20fourmedia turkey stopped refugees while head...,2019-12-27 12:50:19,NaN,NaN,NaN,NaN,010100000000000000000036400000000000804340,NaN,twitter,4

In [28]:
#Types
dataTypeSeries = data.dtypes
print(dataTypeSeries)

Unnamed: 0              int64
locations              object
source_reliability    float64
media                  object
confidence            float64
text                   object
text_translated        object
_timestamp             object
num_persons           float64
mode                   object
origin                 object
destination            object
geom_tweet             object
triage_status         float64
source                 object
uniqueid                int64
dtype: object

In [30]:
data.groupby('locations').sum()

,Unnamed: 0,source_reliability,confidence,num_persons,triage_status,uniqueid
locations,,,,,,
['a414'],1126,0.000,0.584,0.0,0.0,1111
"['aegean islands', 'island']",2613,0.509,0.801,1000.0,0.0,2595
"['aegean sea', 'egypt']",12,0.195,0.715,0.0,0.0,11
['aegean sea'],1968,1.380,3.754,1852.0,0.0,1939
"['aegean', 'turkey', 'greece', 'pakistan']",1214,0.552,0.566,0.0,0.0,1198
...,...,...,...,...,...,...
['yemen'],37,0.897,0.697,10000.0,0.0,32
['yyc'],2464,0.017,0.519,0.0,0.0,2446
"['zabadani', 'lebanon', 'syria']",14,0.000,0.511,0.0,0.0,13
['zweibrücken'],467,0.319,0.841,300.0,0.0,458
[],325316,149.157,188.794,20515466.0,0.0,321970